<!DOCTYPE html>
<html>
<head>
<title>Calculator</title>
</head>

<body>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>

<script type="text/javascript">
var illegals = new RegExp("[^0123456789\+\*\/\\-\.]", "g");
var firstRunMatcher = new RegExp("([\\d\.]+)([\-\+\*\/])(\\d+)(.*)");
var normalMatcher = new RegExp("([\-\+\*\/])([\\d\.]+)(.*)");
var sineMatcher = /sin\(([\d.]+)x\)/;

function doSimplify(prevRes, expr, isQueryingAllowed, resultHandler) {
    var arg1, arg2, op, matches;

    expr = expr.replace(illegals, "");

    if (expr.length == 0) {
	// Wow we're so done
	resultHandler([]);
	return
    }

    if (prevRes == null) {
	matches = expr.match(firstRunMatcher);

	arg1 = matches[1];
	op = matches[2];
	arg2 = matches[3];
	remainingExpr = matches[4];
    } else {
	matches = expr.match(normalMatcher);

	arg1 = prevRes;
	op = matches[1];
	arg2 = matches[2];
	remainingExpr = matches[3];
    }    

    if (isQueryingAllowed) {
	doRequestCalculation(arg1, arg2, op, function(data) {
	    var nextPrevRes = data.calcResult;

	    if (data.errors.length > 0) {
		// Wow we're giving up
		resultHandler(data.errors);
	    } else {
		// Wo we'll go deeper
		doSimplify(
		    nextPrevRes, remainingExpr, isQueryingAllowed, 
		    resultHandler
		);
	    }
	});
    }
}

function doRequestCalculation(arg1, arg2, op, resultHandler) {
    $.getJSON("/do_calculation.json", {
	arg1: arg1,
	arg2: arg2,
	op: op
    }, resultHandler);
}

function doRequestSine(expr) {
    var sineCanvas = $("#lastSine canvas")[0];
    var ctx = sineCanvas.getContext("2d");
    var coef = expr.match(sineMatcher)[1];

    function scaleCoords(pair) {
	// Map x-axis -3.15 ... 3.15 -> 5 ... width - 5
	// Map y-axis -1.00 ... 1.00 -> 5 ... height - 5
	var oldX = pair[0];
	var oldY = pair[1];

	var newX = (oldX - (-3.15)) * ((sineCanvas.width - 10) / 6.30) + 5;
	var newY = (oldY - (-1.00)) * ((sineCanvas.height - 10) / 2.00) + 5;

	return [newX, newY];
    }
    
    function emptyBackground() {
	ctx.fillStyle = "white";
	for(var x = 0; x < sineCanvas.width; x++) {
	    for(var y = 0; y < sineCanvas.height; y++) {
		ctx.fillRect(x, y, 1, 1);
	    }
	}
    }

    function plotPoint(x, y) {
	// Plot
	ctx.fillStyle = "red";

	scaledCoords = scaleCoords([x, y]);
	ctx.fillRect(scaledCoords[0], scaledCoords[1], 1, 1);	    
    }

    function plotAndReq(x, coef) {
	var arg = x * coef;

	$.getJSON("/sin.json", {
	    arg: arg
	}, function(data) {		
	    if (data.errors.length > 0) {
		$.each(errors, function(idx, error) {
		    $("#errors").append("<li>" + error + "</li>");
		});	    
	    } else {
		plotPoint(x, data.sinRes);
	    }
	});	
    }
    
    // Actual entry point for execution
    emptyBackground();
    for (var x = -3.15; x <= 3.15; x += 0.00375) {
	plotAndReq(x, coef);
    }
}

function requestCalculation() {
    var expr = $("input[name='expr']").val();

    if (expr.startsWith("sin")) {
	doRequestSine(expr);
    } else {
	doSimplify(null, expr, true, function(errors) {
	    $.each(errors, function(idx, error) {
		$("#errors").append("<li>" + error + "</li>");
	    });

	    if (errors.length == 0) {
		updateCalculations();
	    }
	});
    }
}

function updateCalculations() {
    $.getJSON("/calculations.json", function(data) {
	var newResults = "";

	$.each(data.results, function(idx, result) {
	    newResults = ("<li>" + result + "</li>") + newResults;
	});

	$("#results").html(newResults);
    });
}

$(function() {
    updateCalculations();

    $("#calcForm").submit(function(event) {
	event.preventDefault();
	requestCalculation();
    });
});

</script>

<ul id="errors"></ul>

<form id="calcForm">
  <input name="expr" type="text" />
  <input type="submit" name="submitCalc" value="calc" />
</form>

<div id="lastSine"><canvas width=600 height=300></canvas></div>

<ul id="results"></ul>

</body>
</html>
