<!DOCTYPE html>
<html>
<head>
<title>Calculator</title>
</head>

<body>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>

<script type="text/javascript">
function requestCalculation() {
    $.getJSON("/do_calculation.json", {
	arg1: $("input[name='arg1']").val(),
	arg2: $("input[name='arg2']").val(),
	op: $("select[name='op']").val()
    }, function(data) {
	$.each(data.errors, function(idx, error) {
	    $("#errors").append("<li>" + error + "</li>");
	});

	updateCalculations();
    });
}

function updateCalculations() {
    $.getJSON("/calculations.json", function(data) {
	var newResults = "";
	
	$.each(data.results, function(idx, result) {
	    newResults = ("<li>" + result + "</li>") + newResults;
	});
	
	$("#results").html(newResults);
    });
}

$(function() {
    updateCalculations();

    $("#calcForm").submit(function(event) {
	event.preventDefault();
	requestCalculation();
    });
});

</script>


<ul id="errors"></ul>

<form id="calcForm">
  <input name="arg1" type="text" />
  <select name="op">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input name="arg2" type="text" />
  <input type="submit" name="submitCalc" value="calc" />
</form>

<ul id="results"></ul>

</body>
</html>
